@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --breakpoint-xs: 23.125rem;
}
@layer base {
  * {
    @apply transition-all duration-500;
  }
  html {
    @apply bg-background;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-oswald);
    @apply font-bold;
  }
  h1 {
    @apply text-3xl;
  }
  h2{
    @apply text-2xl
  }
  a {
    font-family: var(--font-oswald);
  }
}
@layer utilities {
  .transition-right-left{
    transition: right left 500ms
  }
  .abs-center-x {
    @apply left-1/2 -translate-x-1/2;
  }
  .abs-center-y {
    @apply top-1/2 -translate-y-1/2;
  }
  .close span:nth-child(1) {
    animation: first-span 0.8s forwards;
  }
  .close span:nth-child(2) {
    @apply opacity-0 transition-opacity duration-300;
  }
  .close span:nth-child(3) {
    animation: last-span 0.8s forwards;
  }
  .open.can-animate span:nth-child(1) {
    animation: first-span-reverse 0.8s forwards;
  }
  .open.open.can-animate span:nth-child(3) {
    animation: last-span-reverse 0.8s forwards;
  }

  @keyframes first-span {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(7.5px);
    }
    100% {
      transform: translateY(7.5px) rotate(45deg);
    }
  }
  @keyframes first-span-reverse {
    0% {
      transform: translateY(7.5px) rotate(45deg);
    }
    50% {
      transform: translateY(7.5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes last-span {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8.5px);
    }
    100% {
      transform: translateY(-8.5px) rotate(-45deg);
    }
  }
  @keyframes last-span-reverse {
    0% {
      transform: translateY(-8.5px) rotate(-45deg);
    }
    50% {
      transform: translateY(-8.5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .prev-slide {
    @apply -translate-x-full absolute;
  }
  .next-slide {
    @apply translate-x-full absolute;
  }
  @media only screen and (max-height: 780px) {
    .min-height {
      @apply lg:min-h-[480px];
    }
  }
}
@layer components {
  .sign-in-btn {
    font-family: var(--font-oswald);
    @apply text-secondary uppercase py-1 w-full text-center border-2 border-secondary rounded-full font-bold hover:bg-secondary hover:text-white max-w-[370px] mx-auto duration-150 md:px-5 md:max-w-none md:w-auto;
  }
  .sign-in-btn a {
    @apply duration-150;
  }
}
